*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Lexend', sans-serif;
   --primary-bg: #0F0F0F;
   --red: #FF4646;
   --green: #04C900;
   --form-failure: #FF4646;
   --form-success: #028900;
   --blue: #0062F5;
   --navy-blue:#003687;
   --table-odd: #003687;
   --table-even: #003D98;
}

a{
   text-decoration: none;
   color: inherit;
}

input[type="submit"]{
   cursor: pointer;
}

button {
   cursor: pointer;
   border: 0;
   background: none;
}

body{
   margin: 0;
   min-height: 100vh;
   background: var(--primary-bg);
   background-image: url(./assets/overlay-bg.png);
   background-size: cover;
   background-blend-mode: soft-light;
   color: white;
}

main {
   padding: 20px;
   max-width: 1440px;
   margin: auto;
}

.h1-group, .h2-group {
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 30px;
}
.button-1{
   background: var(--blue);
   border: 0;
   padding: 10px 20px;
   width: fit-content;
}
.h1-group a:hover{
   filter: brightness(0.8);
}
.h1-group a button{
   text-decoration: none;
   color: white;
}

#admin-table table{
   width: 100%;
   margin-top: 30px;
   background: var(--blue);
   border-spacing: 0;
}
#admin-table td, #admin-table th{
   text-align: center;
}
#admin-table tr{
   height: 60px;
}
#admin-table tbody tr:hover{
   filter: brightness(0.8);
}
#admin-table tbody tr:nth-child(odd){
   background: var(--table-odd);
}
#admin-table tbody tr:nth-child(even){
   background: var(--table-even);
}
#admin-table a {
   color: var(--blue);
}
/* Layouts */
.columns-2{
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 20px;
}
/* Groupes de inputs et label réutilisés partout */
input, textarea, select{
   border: 1px solid white;
   padding: 0 15px;
   height: 40px;
   background: rgba(0, 0, 0, 0.5);
   color: white;
}
textarea{
   height: auto;
}
.label-input-group-1{
   display: flex;
   flex-direction: column;
   gap: 15px;
}
.label-input-group-2{
   display: flex;
   gap: 15px;
   align-items: center;
}

/* Forms */
form{
   display: flex;
   flex-direction: column;
   gap: 20px;
}
.form-footer{
   display: flex;
   gap: 40px;
   justify-content: flex-end;
   align-items: center;
}
.form-footer .cancel{
   color: var(--red);
   text-decoration: none;
   font-size: 20px;
   font-weight: bold;
}
.form-footer .confirm:hover, .form-footer .cancel:hover{
   filter: brightness(0.8);
}
.form-footer .confirm{
   color: var(--green);
   font-size: 20px;
   text-decoration: none;
   font-weight: bold;
   border: 0;
   background: none;
}

.page-404{
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 50px;
   text-align: center;
}

.client-code {
 text-transform: uppercase;   
}

.form-response{
   padding: 15px;
   display: flex;
   justify-content: space-between;
   color: white;
   margin-bottom: 20px;
}
.form-success{
   background: var(--form-success);
}
.form-failure{
   background: var(--form-failure);
}
.form-response a{
   text-decoration: underline;
}