.points{
    padding: 10px;
    border:1px solid rgba(255, 255, 255, 1);
}
.orders{
    padding: 10px;
    border:1px solid rgba(255, 255, 255, .4);
}
.addresses button{
    background-color: var(--navy-blue);
    width: 35px;
    height: 35px;

}
.addresses button img {
    width: 15px;
    height: 15px;

}

.addresses .label-input-group-2{
    display: flex;
    justify-content: space-between;
}